{% extends "base.html" %}

{% block content %}
		
		<h1>Companies by {{ tag }} and how much they have raised</h1>
		<table class= "table">
			<tr>
				<th>Company Name</th><th>Description</th><th>Total Funding Raised</th><th>Funding dates</th><th>IPO info</th>
			</tr>
		{% for company in companies %}
			<tr>
				<td>{{ company.name }}</td>
				<td>{{ company.description}}</td>
				<td>{{ company.total_money_raised }}</td>
				<td>
			{% if company.funding_rounds %}
				{% for fr in company.funding_rounds.all%}
						{{ fr.funded_year }}/ {{ fr.funded_month }},
				{% endfor %}
			
			{% endif%}
			&nbsp;
			</td>
			<td>
			{# {% if company.ipo %} #}
			{% for ipo in company.ipo.all %}
						Symbol: {{ ipo.stock_symbol }}; valuation: {{ ipo.valuation_amount }} on: {{ ipo.pub_month }}/{{ ipo.pub_year}}
			{% endfor %}
			{# {% endif%} #}
			&nbsp;
			</td>
			<td>
			
				Acq. Price: {{ company.acquisition.term_code }} {{ company.acquisition.price_currency_code }} {{ company.acquisition.acquisition_month }} / {{ company.acquisition.acquisition_year }}
			</td>
			</tr>
		{% endfor %}
		
{% endblock %}