{% extends "base.html" %}

{% block content %}
		
		<h1>Companies by {{ tag }} and how much they have raised</h1>
		<table class="table-striped table-bordered" width= "940px">
			<tr>
				<th rowspan=2 width="10%">Company Name</th><th rowspan=2 width="30%">Description</th><th colspan = '2' width='20%'>Funding</th> 			  
				<th colspan=3 width='30%'>IPO</th><th colspan=3 width="30%">Acquisition</th>
			</tr>
				
			<tr>
				<th>Total Amount</th><th>Dates</th><th>Ticker</th><th>Valuation</th><th>Date</th><th>Price</th><th>Date</th><th>Acquire</th>			
			</tr>
		{% load humanize %}
		{% for company in companies %}
			<tr>
				<td>{{ company.name }}</td>
				<td>{{ company.description}}</td>
				<td>{{ company.amount_raised|intcomma }}</td>
				<td>
					{% for r in company.round_dates %}
						{% if r.year %}
							{{ r.code }}: {{ r.month }}/ {{ r.year }}<br>
						{% endif %}
					{% endfor %}
				
				</td>
				<td>{{ company.ipo.symbol }}</td><td>{{ company.ipo.valuation|intcomma }}</td><td>{{ company.ipo.month }}/{{ company.ipo.year}}</td>
			
				<td>{{ company.acquisition.acquisition_amount|intcomma }}</td><td>{{ company.acquisition.month }}/{{ company.acquisition.year }}</td><td>{{ company.acquisition.acquirer }}</td>
			</tr>
		{% endfor %}
		
{% endblock %}