{% extends "base.html" %}

{% block content %}
	<h2>Controls for fetching data from crunchbase to the database</h2>
	<h3>Use with care</3>
		<div id="crunchForm">
			<form action="/run/" name="runCrunchForm" method="post" class="well">
				{% csrf_token %}
				<table width="450px">
					<tr>
						<td colspan="2">
							Push the button to run all companies to db.
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="Fetch co's to db" class="btn-danger">
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div id="crunchForm">
			<form action="/addacq/" name="runAddAcq" method="post" class="well">
				{% csrf_token %}
				<table width="450px">
					<tr>
						<td colspan="2">
							Push the button to add all acqs.
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="Add all acquisitions" class="btn-danger">
						</td>
					</tr>
				</table>
			</form>
		</div>
	<h2>Controls for visualizing the data</h2>
		<div id="crunchForm">
			<form action="/by_tag/" name="getCosByTag" method="get" class="well">
				{% csrf_token %}
				<table width="450px">
					<tr>
						<td colspan="2">
							Fetch companies according to tag. All companies with the string in one of the tags will be returned.
						</td>
					</tr>
					<tr>
						<td>
							<label for="tag">Tag</label>
						</td>
						<td>
							<input type="text" name="tag" maxlength="50" size="30">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="Fetch co's according to tag" class="btn">
						</td>
					</tr>
				</table>
			</form>
		</div>
		
{% endblock %}